*
{
    margin: 0px;
    padding: 0px;
    font-family:Gill Sans, sans-serif;
}
/* nav bar sizing */
.nav
{
height: 75px;
width: 100%;
float: right;
display: flex;
align-content: space-around;
justify-content: right;
align-items: center;
background-color: #183955;
/* position: fixed; */
}
 
/* style of the logo */
.logo
{
width: 35%;
display: flex;
justify-content: center;
align-items:center ;
float: left;
height: 5px;
/* margin: 28px; */
margin-top: 2px;
margin-left: -70px;
padding: -5px;
padding-right: 10px;
}

.logo img
{
width:60%;
height:55px;
}


.navbar {
    overflow: hidden;
    display: flex;
    justify-content: left;
    align-items: left;
    float: left;
    width: 370px;
    margin: auto;
    margin-right: 100px;
     /* background-color: aqua;  */
  }

 .search {
   background-color: #242424;
   display: flex;
   justify-items: left;
   align-items: left;
    float: left;
    margin-right: 40px;
  } 
  .input {
    max-width: 160px;
    background-color: #f5f5f5;
    color: #242424;
    padding: .15rem .5rem;
    min-height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;
    /* margin-left: 250px; */
    align-items: left;
  }
  
 


  input:focus {
    border-bottom: 2px solid #5b5fc7;
    border-radius: 4px 4px 2px 2px;
  }
  
  input:hover {
    outline: 1px solid lightgrey;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: center;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }


  a:hover {
    opacity: 0.6;
  }





  .dropbtn {
     background-color: #183955; 
   
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-right: 80px;
 
   
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #1b4969;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-right: 20px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 130px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
   
  }
  

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}








.hh{
  background: #ccdae6; 
    height: 130vh;
    width: 100%;
}

.tex{
    text-align: left;
    margin-left: 50px;
    margin-top: 20px;
    width: 10%;
    height: 13vh;
    display: flex; 
    justify-content: center;
    align-items:end; 
     /* background-color: aqua;  */
}

.how{
  margin-top: -20px;
   /* background-color: rgb(253, 144, 248);  */
    width: 13%;
    height: 23vh;
    margin-left: 80px;
    font-size: 18px;
    display: flex; 
    justify-content: center;
    align-items: center; 
   
 }
/* adding syle to the question heading */
 /* .question
{
padding-left: 90px;
margin-top: 25px;
width: 50%;
} */

/* adding width and height to the add question button */
/* input[type=search]{
  width: 40%;
  height: 7vh;
} */
/* faq heading  */
.fa{
     width: 13%;
     height: 23 vh;
     margin-left: 20px;
     font-size: 18px;
     display: flex; 
     justify-content: center;
     align-items: center; 
     margin-top: -35px;
  }

  /* first question */
  .one{
    height: 10vh;
    width: 70%;
    /* background-color: antiquewhite; */
    margin-top: 23px;
    margin-left: 85px;
    font:  sans-serif;
    font-size: 17px;
  }
   
  .two{
    height: 10vh;
    width: 70%;
    /* background-color: rgb(212, 125, 11); */
    margin-top: 90px;
    margin-left: 85px;
    font: sans-serif;
    font-size: 17px;
  }

  .three{
    height: 10vh;
    width: 70%;
    /* background-color: rgb(212, 125, 11); */
    margin-top: 90px;
    margin-left: 85px;
    font: sans-serif;
    font-size: 17px;
  }

  .four{
    height: 10vh;
    width: 70%;
    /* background-color: rgb(212, 125, 11); */
    margin-top: 90px;
    margin-left: 85px;
    font:  sans-serif;
    font-size: 17px;
  }



  

footer{
  
  background-color: #183955;
  height: 55vh;
  color: #eceaea;
}

.three1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 15vh;
  margin-left: 450px;
  
  font-size: 20px;

}

.con{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 5vh;
  margin-left: 350px;
  /* background-color: #5b5fc7; */
  font-size: 20px;
}

.phone
{
width: 5%;
display: flex;
justify-content: right;
align-items:right ;
/* float: right; */
height: 6vh;
/* margin: 28px; */
margin-top: 15px;
margin-left: 300px;

}
/* giving height and width to phone img */
.phone img
{
margin-left: 20px;

} 

.four1{
  width: 10%;
display: flex;
justify-content: left;
align-items: left;
/* float: right; */
height: 9vh;
/* margin: 28px; */
margin-top: -30px;
margin-left: 400px;
/* background-color: #5b5fc7; */
}


.mail
{
width: 5%;
display: flex;
justify-content: right;
align-items:right ;
/* float: right; */
height: 6vh;
/* margin: 28px; */
margin-top: 15px;
margin-left: 300px;

}
/* giving height and width to phone img */
.mail img
{
margin-left: 20px;

} 

.five{
  width: 10%;
display: flex;
justify-content: left;
align-items: left;
/* float: right; */
height: 5vh;
/* margin: 28px; */
margin-top: -30px;
margin-left: 400px;
/* background-color: #5b5fc7; */
}

.vl {
  border-left: 4px solid rgb(209, 216, 209);
  height: 25vh;
  margin-top: -160px;
margin-left: 650px;
}

.setnav{
  width: 10%;

/* float: right; */
height: 15vh;
/* margin: 28px; */
margin-top: -150px;
margin-left: 750px;
}

.setnav a{
  color: #eceaea;
}


.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.icon img{
  height: 6vh;
  width: 40px;
}


