
.box{
    padding: 5em;
    border-radius: 50px;
    margin: 15em;
    background-color: #181818d0;
    color: white;
    width: 250px;
    height:200px;
    position: absolute;
    left: 25%;
    top: 10%;
    transform: translate(-25%, -50%);
}

#name{
    position: absolute;
    left: 30%;
    top: 17%;
    transform: translate(-25%, -50%);
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 15px;
  margin: 8px 0;
  display: inline-block;
  color: black;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 15px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.6;
}


span.signup {
    float: left;
    padding-top: 5px;
    color: white;
  }

 a{
    float: right;
    color: white;
 }


 a:hover {
    opacity: 0.2;
  }
  
  
  

